html, body, .container{
    width:100%;
    margin:0;
}
@font-face { 
    font-family: 'EBSHunminjeongeumSBA'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/EBSHunminjeongeum.woff') format('woff');
     font-weight: normal; 
     font-style: normal; 
}
@font-face { 
    font-family: '국립박물관문화재단클래식B'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/국립박물관문화재단클래식B.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal; 
}
.one{
    background-image: url(../image/sun.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}
.two{
    background-image: url(../image/jelly.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}
.three{
    background-image: url(../image/march2.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}
.four{
    background-image: url(../image/cherryblossom.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}
.five{
    background-image: url(../image/children.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}
.six{
    background-image: url(../image/tree.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}
.seven{
    background-image: url(../image/seab.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}
.eight{
    background-image: url(../image/seab.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}
.nine{
    background-image: url(../image/cosmos.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}
.ten{
    background-image: url(../image/danpung.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}
.tenone{
    background-image: url(../image/novem.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}
.tentwo{
    background-image: url(../image/winter.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}
.t{
    text-align:center;
    margin-top:20px;
}
.title1{
    font-family:'EBSHunminjeongeumSBA';
    font-size:55px;
    color:rgba(235, 12, 12, 0.911);
    display:inline-block;
    font-weight: 800;
}
.title2{
    font-family:'EBSHunminjeongeumSBA';
    font-size:55px;
    color:rgb(6, 42, 202);
    display:inline-block;
    font-weight: 800;
}
.title1>a{
    font-family:'EBSHunminjeongeumSBA';
    font-size:55px;
    color:rgba(235, 12, 12, 0.911);
    display:inline-block;
    text-decoration: none;
    font-weight: 800;
}
.title2>a{
    font-family:'EBSHunminjeongeumSBA';
    font-size:55px;
    color:rgb(6, 42, 202);
    display:inline-block;
    text-decoration: none;
    font-weight: 800;
}
.week>td{
    height:50px;
}
td{
    width: 85px;
    height: 85px;
    text-align: center;
    font-size: 18px;
    font-family: '국립박물관문화재단클래식B';
    padding:7px;
    border-right:1px solid black;
    border-bottom:1px solid black;
}
.red{
    color:rgba(235, 12, 12, 0.911);
}
.blue{
    color:rgb(18, 44, 160);
}
.red:hover{
    cursor: pointer;
}
.black:hover{
    cursor: pointer;
}
.ym{
    text-align:center;
    font-size: 20px;
    font-family: '국립박물관문화재단클래식B';
}
.january{
    color:red;
    text-shadow:-2px 0 black,0 2px black,2px 0 black,0 -2px black;
    font-size:30px;
}
.febrary{
    color:gray;
    text-shadow:-2px 0 black,0 2px black,2px 0 black,0 -2px black;
    font-size:30px;
}
.march{
    color:yellow;
    text-shadow:-2px 0 black,0 2px black,2px 0 black,0 -2px black;
    font-size:30px;
}
.april{
    color:pink;
    text-shadow:-2px 0 black,0 2px black,2px 0 black,0 -2px black;
    font-size:30px;
}
.may{
    color:lightgreen;
    text-shadow:-2px 0 black,0 2px black,2px 0 black,0 -2px black;
    font-size:30px;
}
.june{
    color:mediumturquoise;
    text-shadow:-2px 0 black,0 2px black,2px 0 black,0 -2px black;
    font-size:30px;
}
.july{
    color:coral;
    text-shadow:-2px 0 black,0 2px black,2px 0 black,0 -2px black;
    font-size:30px;
}
.august{
    color:skyblue;
    text-shadow:-2px 0 black,0 2px black,2px 0 black,0 -2px black;
    font-size:30px;
}
.september{
    color:burlywood;
    text-shadow:-2px 0 black,0 2px black,2px 0 black,0 -2px black;
    font-size:30px;
}
.october{
    color:saddlebrown;
    text-shadow:-2px 0 black,0 2px black,2px 0 black,0 -2px black;
    font-size:30px;
}
.november{
    color:darkolivegreen;
    text-shadow:-2px 0 black,0 2px black,2px 0 black,0 -2px black;
    font-size:30px;
}
.december{
    color:lightcyan;
    text-shadow:-2px 0 black,0 2px black,2px 0 black,0 -2px black;
    font-size:30px;
}
#tab{
    display:inline-block;
    margin-left:16%;
    margin-right:10%;
    margin-top:5%;
    background-color:white;
}
.tab{
    display:inline-block;
    margin-left:16%;
    margin-right:50px;
    margin-top:40px;
    background-color:white;
}
#textarea{
    width:800px;
    height:300px;
    position: absolute;
    top:39%;
    text-align:center;
    background-color:rgba(231, 230, 229, 0.685);
    color:black;
    font-size:20px;
    left:55%;
    font-weight: bold;
    font-family: 'Gothic A1', sans-serif;
    border-radius: 20px;
}
img{
    position: absolute;
    left: 1420px;
    top:130px;
    width:220px;
    height:220px;
}
button{
    left:90%;
    width:60px;
    height:30px;
    position: absolute;
    top: 80%;
    color:black;
    border: 1px solid black;
    background-color: #fff;
    cursor: pointer;
}