@font-face { 
    font-family: 'BBTreeGL'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGL.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal; 
}
a{
    text-decoration: none;
    color:black;
}
.logo{
    width:50px;
    height:50px;
    display:inline-block;
    margin-top:10px;
}
h1{
    display:inline-block;
}
.a{
    float:left;
    width:400px;
    height:250px;
}
.history, .spring, .summer, .fall, .winter{
    font-size:22px;
    font-weight: 700;
    margin-bottom:10px;
    margin-left:43%;
}
.spring{
    margin-left:48%;
}
.history{
    margin-left:10%;
}
.summer{
    margin-left:53%;
}
.fall{
    margin-left:44%;
}
.winter{
    margin-left:52%;
}
.text1{
    margin-left:25%;
    font-size:20px;
    font-family: 'BBTreeGL'; 
}
.tag{
    font-weight: 900;
    color:rgb(255, 94, 0);
    font-size:50px;
    display:inline-block;
}
.a{
    width:400px;
    height:280px;
    margin-left:4%;
    border-radius: 10px;
}
.b,.c,.d,.e{
    width:400px;
    height:280px;
    margin-left:20%;
    border-radius: 10px;
}
.fl, .sl, .tl, .fol{
    display:inline-block;
    position: absolute;
}
.fl{
    left:2%;
}
.sl{
    left:25%;
}
.tl{
    left:48%;
}
.fol{
    left:72%;
}
.tag1{
    font-weight: 900;
    color:burlywood;
    font-size:30px;
    display:inline-block;
}
.tag2{
    font-weight: 900;
    color:rgb(219, 100, 213);
    font-size:30px;
    display:inline-block;
}
.tag3{
    font-weight: 900;
    color: sienna;
    font-size:30px;
    display:inline-block;
}
.tag4{
    font-weight: 900;
    color:rgb(177, 0, 0);
    font-size:30px;
    display:inline-block;
}