html, body, .container{
    width:100%;
    height: 100%;
    margin:0;
}
@font-face { 
    font-family: 'EBSHunminjeongeumSBA'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/EBSHunminjeongeum.woff') format('woff');
     font-weight: normal; 
     font-style: normal; 
}
@font-face { 
    font-family: 'BMEULJIRO'; 
    src: url('../font/BMEULJIROTTF.ttf') format('truetype'); 
    font-weight: normal; 
    font-style: normal; 
}
.t{
    margin:2%;
    margin-left:5%;
    display:inline-block;
}
.title1{
    font-family:'EBSHunminjeongeumSBA';
    font-size:55px;
    color:rgba(235, 12, 12, 0.911);
    display:inline-block;
    font-weight: 800;
}
.title2{
    font-family:'EBSHunminjeongeumSBA';
    font-size:55px;
    color:rgb(6, 42, 202);
    display:inline-block;
    font-weight: 800;
}
.title1:hover{
    font-family:'EBSHunminjeongeumSBA';
    font-size:55px;
    color:rgb(6, 42, 202);
    display:inline-block;
    transition: all ease 1.5s 0s;
    cursor: pointer;
    font-weight: 800;
}
.title2:hover{
    font-family:'EBSHunminjeongeumSBA';
    font-size:55px;
    color:rgba(235, 12, 12, 0.911);
    display:inline-block;
    transition: all ease 1.5s 0s;
    cursor: pointer;
    font-weight: 800;
}
a{
    text-decoration: none;
    color:black;
}
.menu{
    margin-top:2%;
    font-size: 20px;
    display:inline-block;
    position: absolute;
    right:100px;
    top:10px;
    font-weight: 600;
}
.intro, .cal, .localfood, .quiz{
    display:inline-block;
    margin-left: 60px;
    font-family: 'EBSHunminjeongeumSBA';
    font-size:25px;
}
.intro>a:hover{
    box-shadow: 0 .35em 0 0 rgba(235, 12, 12, 0.911), 0 .35em 0 0 rgba(235, 12, 12, 0.911);
}
.cal>a:hover{
    box-shadow: 0 .35em 0 0 rgb(6, 42, 202), 0 .35em 0 0 rgb(6, 42, 202);
}
.localfood>a:hover{
    box-shadow: 0 .35em 0 0 rgba(235, 12, 12, 0.911), 0 .35em 0 0 rgba(235, 12, 12, 0.911);
}
.quiz>a:hover{
    box-shadow: 0 .35em 0 0 rgb(6, 42, 202), 0 .35em 0 0 rgb(6, 42, 202);
}
.second{
    text-align:center;
    width:85%;
    height:85.5%;
    background-image: url('../image/korea1.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    margin:auto;
}
.text{
    font-size:36px;
    font-family:'BMEULJIRO';
    color:black;
    text-align:center;
    display:inline-block;
    position: absolute;
    top:50%;
    left:35%;
}
