html, body, .container{
    width:100%;
    margin:0;
}
@font-face { 
    font-family: 'EBSHunminjeongeumSBA'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/EBSHunminjeongeum.woff') format('woff');
     font-weight: normal; 
     font-style: normal; 
}
.t{
    text-align:center;
    margin-top:20px;
}
.title1{
    font-family:'EBSHunminjeongeumSBA';
    font-size:55px;
    color:rgba(235, 12, 12, 0.911);
    display:inline-block;
    font-weight: 800;
}
.title2{
    font-family:'EBSHunminjeongeumSBA';
    font-size:55px;
    color:rgb(6, 42, 202);
    display:inline-block;
    font-weight: 800;
}
.title1>a{
    font-family:'EBSHunminjeongeumSBA';
    font-size:55px;
    color:rgba(235, 12, 12, 0.911);
    display:inline-block;
    font-weight: 800;
    text-decoration: none;
}
.title2>a{
    font-family:'EBSHunminjeongeumSBA';
    font-size:55px;
    color:rgb(6, 42, 202);
    display:inline-block;
    text-decoration: none;
    font-weight: 800;
}
img{
    width:200px;
    height:200px;
    margin:40px;
}
img:hover{
    cursor: pointer;
}
.second{
    width:600px;
    margin:auto;
    margin-top:150px;
}
.text{
    background-color: rgba(221, 224, 220, 0.685);
    border: none;
    color: black;
    font-size: 20px;
    font-family: Verdana;
    font-weight: 800;
    width: 300px;
    height: 85px;
    margin-left:23%;
    text-align: center;
    border-radius: 20px;
}
.fl{
    width:800px;
}
.sl{
    margin-left:25%;
}